:root {
  --primary: rgba(246, 242, 242, 0.789);
  --bg: transparent;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo img {
  width: 70px;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  font-weight: bold;
}

.navbar .navbar-nav a:hover {
  color: rgb(120, 187, 203);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1 solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgb(120, 187, 203);
}
/*laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
}

/*hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
